{% extends 'base.html' %}
{% block content %}
<html>

<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>

<body>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

               

            </div>
            <div class="col-md-8">
                <img class="img-fluid" src="/media/{{ news.news_image }}">


                <div>
                    <span>Views: {{news.views_count}} times.</span>
                    <h2>{{news.news_title}}</h2>
                    <span>{{news.SubCategory.sub_name}}: </span>
                    <span>{{news.created_date|date:"M d, Y"}}</span>
                    <p>{{news.news_content}}</p>

                    <a href="/" class="btn btn-primary">Go To Home</a>
                </div>
                <hr>
                <!-- <form>
                    <fieldset>
                     
                      <form class="form-group" action="comment" method="POST">
                        
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Post a comment..." name="comment"></textarea>
                        <button type="submit" name="Comment" >
                      </form>
                     
                    </fieldset>
                  </form> -->
                    {% for comment in news.comments_set.all %}
                    <p>User says ({{comment.created_date|date}}):<strong>{{comment.comment}}</strong></p>
                    {% endfor %}
                  <form method="POST" action="{% url 'News:commentadd' news.id %}">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary">Comment</button>
                
                </form>
                <hr>

        
               
                  
               
            </div>
            <div class="col-md-2">

               

            </div>

        </div>
    </div>
    

</body>

</html>
{% endblock %}