{% extends 'base.html' %}
{% block content %}
<html>

<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <img class="img-fluid" src="/media/{{ news.news_image }}" style="width: max-content;">



            </div>
            <div class="col-md-8">
                <div>
                    {{news.views_count}}(views)

                    <h2>{{news.news_title}}</h2>
                    <span>{{news.SubCategory.sub_name}}: </span>
                    <span>{{news.created_date|date:"M d, Y"}}</span>
                    <p>{{news.news_content}}</p>

                    <a href="/" class="btn btn-primary">Go To Home</a>
                </div>
                <hr>
                <form>
                    <fieldset>
                     
                      <div class="form-group">
                        
                        <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Post a comment..."></textarea>
                        <input type="button" name="" value="Comment">
                      </div>
                     
                    </fieldset>
                  </form>
            </div>


        </div>
    </div>
    

</body>

</html>
{% endblock %}